// Specific CSS for your home-page
.show-background {
  background-color: rgba(0,0,0,0.02);
}

.home_banner  {

  background: linear-gradient(135deg,
                      rgba(0, 0, 0, 0.55) 50%,
                      rgba(0, 0, 0, 0.55) 50%),

    asset-url('bgpg2.jpg')no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 70vh;
}

//   min-height: calc(100vh - 57px);
// }
.home-container {
  background: rgba(0, 0, 0, 0.8);
}


.card {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  box-shadow: 0px 0px 3px 3px rgba(120,120,120,0.1);
  justify-content: center;
  align-items: center;
  background: rgba(200, 200, 200, 0.2);
  padding: 5px;  
  border: none;
}
.card-content{
  width:  90%
}

a:hover {
  text-decoration: none;
}

.card h1 {
  margin-left: 20px;
  margin-top: 10px;
}

.card-title {
  color: black;
  padding-top: 10px;
}

.c-title{
  width: 90%;
  text-align: center;
}

.card-text {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


.test {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card-body {
  width: 90%;
  padding: 0;
}

.card-image {
  padding: 10px 0px;
  width: 90%;
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.heading {
  padding-top: 20px;
  font-weight: bold;
}


.index-avatar {
  border-radius: 50%;
}

.card-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
  color: rgba(75, 75, 75, 0.9);
  background:rgba(240, 240, 240, 0.9);
  padding-left: 10px;
  padding-right: 10px;
}
.card-item  {
  padding-left: 10px;
  margin: 0;

}

.card-rating-price  {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: flex-end;
}

.card-social  {
  justify-content: space-between;
  align-items: center;
}
.footer-items {
  width: 50%;
  height: 100%;
}

.card-blocks {
  margin-bottom: 15px;
  background: rgba(240, 240, 240, 0.9);
  box-shadow: 0px 0px 3px 3px rgba(120,120,120,0.1);
  background: rgba(250, 250, 250, 0.8)
}

