// Specific CSS for your home-page
.wrapper  {
  background: url('https://images.unsplash.com/photo-1505976231433-d7ebe8382bb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')no-repeat center center/cover;
  color: white;
  bottom:0;
  left:0;
  right:0;
  top:0;
  opacity: 0.9;
}
.home-container {
  background: rgba(0, 0, 0, 0.8);
}


.card {
  margin: 20px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
  width: 60vw;
  height: 170px;
}

a:hover {
  text-decoration: none;
}

.card h1 {
  margin-left: 20px;
  margin-top: 10px;
}

.card-title {
  color: black;
}

.card-text {
  color: black;
}


.test {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  margin-left: 10px;
}

.heading {
  margin-top: 10px;
  font-weight: bold;
}
